@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}

body{
    font-family: "Poppinns", sans-serif;
    color: var(--primary-text-color);
    font-size: 16px;
    
}

p{
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4 rem;
    font-size: 1rem; 
}

/* Mobile Navigation */
@media screen and (max-width: 767px) {
    .nav-links ul {
        display: none; 
    }
}

.card {
    max-width: 100%; /* Adjust to fit the container width */
    padding:20px;
    justify-content:center;
    width: 100%; /* Ensure full width within container */
}

/* Tablet and Desktop Styles */
@media screen and (min-width: 768px) {
    /* Add styles for larger screens */
    body {
        font-size: 18px; /* Increase font size for larger screens */
    }
    .container {
        padding: 0 20px; /* Add padding to the container on larger screens */
    }

    .card{
        max-width: 100%; /* Adjust to fit the container width */
        padding:20px;
        justify-content:center;
        width: 100%;
    }
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav{
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.main-nav{
    justify-content: space-between;
    padding-block: 8px;
}

.company-logo img{
    width: 120px;
}

.nav-links ul{
    gap: 16px;
}

.hover-link{
    cursor: pointer;
}

.hover-link:hover {
    color: var(--secondary-text-color);
}

.hover-link:active {
    color: red;
}

.search-bar {
    height: 32px;
    gap: 8px;
}

.news-input {
    width: 200px;
    height: 100%;
    padding-block: 12px;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family: "Roboto", sans-serif;
}

.search-button{
    background-color: var(--accent-color);
    color: white;
    padding: 6px 24px;
    border: none;
    border-radius: 6px;
    margin: 6px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.search-button:hover{
    background-color: var(--primary-text-color);
}

main{
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card{
    width: 350px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border: #f3faff;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
    border-radius: 6px;
}

.card:hover {
    box-shadow: 4px 4px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-header img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content{
    padding: 12px;
}

.news-source{
    margin-block: 12px;
}